<% content_for :head do %>
<title>Watchable Upcoming movies - <%= title_sentence(@opening_list,0) %></title>
<meta name="description" content="Watchable - <%= description_sentence_upcoming %>" />
<% end %>
<% content_for :slugline do %>
Movies opening this week and soon after
<% end %>

<div class="menu">
  <ul>
    <li><a href="#opening">Movies opening this week</a></li>
    <li><a href="#upcoming">Movies opening next week and beyond</a></li>
  </ul>
</div>

<a name="opening"></a>
<h2>Movies opening this week</h2>
<% @opening_list.each do |movie| %>
<% if movie[4] > 70 %>
  <div class="score upcoming-movie">
    <p class="upcoming-poster"><%= upcoming_poster(movie) %></p>
    <h1 class="title-and-date"><%= link_to truncate_title(movie[0]), movie[2] %></h1>
    <p class="upcoming-date"><%= upcoming_date(movie[1].to_date) %><br/><small><%= upcoming_interested(movie[4]) %></small></p>
  </div>
<% end %>
<% end %>

<a name="upcoming"></a>
<h2>Movies opening next week and later</h2>
<% @upcoming_list.each do |movie| %>
<% if movie[4] > 65 %>
  <div class="score upcoming-movie">
    <p class="upcoming-poster"><%= upcoming_poster(movie) %></p>
    <h1 class="title-and-date"><%= link_to movie[0], movie[2] %></h1>
    <p class="upcoming-date"><%= upcoming_date(movie[1].to_date) %><br/><small><%= upcoming_interested(movie[4]) %></small></p>
  </div>
<% end %>
<% end %>