<% content_for :head do %>
<title>Watchable Upcoming movies - <%= upcoming_title %></title>
<meta name="description" content="Watchable - <%= upcoming_date_list %>" />
<% end %>
<% content_for :slugline do %>
Movies opening this week and soon after
<% end %>

<div class="menu">
  <ul>
    <li><a href="#opening">Movies opening this week</a></li>
    <li><a href="#upcoming">Movies opening next week and beyond</a></li>
  </ul>
</div>

<a name="opening"></a>
<h2>Movies opening this week</h2>
<% @opening_list.each do |movie| %>
<div class="score upcoming-movie">
  <div class="upcoming-poster">
    <%= link_to image_tag(movie[3], alt: movie[0], size: "61x91"), movie[2], align: "left" %>
  </div>
  <div>
    <h1 class="title-and-date"><%= link_to movie[0], movie[2] %></h1>
    <p class="upcoming-date"><%= upcoming_date(movie[1].to_date) %><br/>
    <small><%= upcoming_interested(movie[4]) %></small></p>
  </div>
</div>
<% end %>

<a name="upcoming"></a>
<h2>Upcoming movies</h2>
<% @upcoming_list.each do |movie| %>
<div class="score upcoming-movie">
  <div class="upcoming-poster">
    <%= link_to image_tag(movie[3], alt: movie[0], size: "61x91"), movie[2], align: "left" %>
  </div>
  <div>
    <h1 class="title-and-date"><%= link_to movie[0], movie[2] %></h1>
    <p class="upcoming-date"><%= upcoming_date(movie[1].to_date) %><br/>
    <small><%= upcoming_interested(movie[4]) %></small></p>
  </div>
</div>
<% end %>