= form_for @grab do |f|
  -if @grab.errors.any?
    #error_explanation
      %h2= "#{pluralize(@grab.errors.count, "error")} prohibited this grab from being saved:"
      %ul
        - @grab.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
