<div id="winner">
  <h1><%= @title %></h1>
  <div class="info-area">
    <div id="winner-poster"><%= link_to image_tag(@poster), @imdb %></div>
    <div class="description">
      <p><%= @desc %></p>
      <span>Score: <%= @score %></span>
      <span><%= link_to "IMDB", @imdb %></span>
    </div>
</div>


<div id="runners-up">
  <div class="info-area">
    <div id="runners-up-poster"><%= link_to image_tag(@second_poster), @second_imdb %></div>
    <h1><%= @second_title %></h1>
    <div class="description">
      <p><%= @second_desc %></p>
      <span><%= link_to "IMDB", @second_imdb %></span> / <span>Score: <%= @second_score %></span>
    </div>
  </div>

  <div class="info-area">
    <div id="runners-up-poster"><%= link_to image_tag(@third_poster), @third_imdb %></div>
    <h1><%= @third_title %></h1>
    <div class="description">
      <p><%= @third_desc %></p>
      <span><%= link_to "IMDB", @third_imdb %></span> / <span>Score: <%= @third_score %></span>
    </div>
  </div>

  <div class="info-area">
    <div id="runners-up-poster"><%= link_to image_tag(@fourth_poster), @fourth_imdb %></div>
    <h1><%= @fourth_title %></h1>
    <div class="description">
      <p><%= @fourth_desc %></p>
      <span><%= link_to "IMDB", @fourth_imdb %></span> / <span>Score: <%= @fourth_score %></span>
    </div>
  </div>

  <div class="info-area">
    <div id="runners-up-poster"><%= link_to image_tag(@fifth_poster), @fifth_imdb %></div>
    <h1><%= @fifth_title %></h1>
    <div class="description">
      <p><%= @fifth_desc %></p>
      <span><%= link_to "IMDB", @fifth_imdb %></span> / <span>Score: <%= @fifth_score %></span>
    </div>
  </div>
</div>