<% content_for :head do %>
<title>Watchable - Movies worth watching. This week: <%= title_sentence(@list,1) %></title>
<meta name="description" content="Watchable - The best-reviewed movies. <%= description_sentence_current %>" />
<% end %>

<% content_for :slugline do %>
<%= slug_line %>
<% end %>

<% content_for :footer do %>
<h2 class="footer-link"><a href="/upcoming">Watchable upcoming films</a></h2>
<h2 class="footer-link"><a href="/discs">Watchable DVD/Blu-Ray releases</a></h2>
<% end %>

<% @list[0..0].each do |movie| %>
<div id="winner">
  <div class="info-area">
    <h1 id="winner-title"><%= link_to movie[1], movie[4] %></h1>
    <div id="winner-poster"><%= image_tag(movie[2], alt: movie[1], size: '180x267') %></div>
    <div class="winner-description">
      <p><%= nicer_quote(movie[3]) %></p>
      <span class="score"><%= link_to imdb_logo, movie[4] %> <%= "#{movie[0]}% Watchable" %></span>
      <span class="trailer"><%= trailer_link(movie[1]) %></span>
    </div>
  </div>
</div>
<% end %>

<div id="runners-up">
<% @list[1..9].each do |movie| %>
  <% if movie[0] > 80 %>
  <div class="info-area">
    <p id="runners-up-poster"><%= image_tag(movie[2], alt: movie[1], size: '100x148') %></p>
    <h1><%= link_to movie[1], movie[4] %></h1>
    <div class="description">
      <p><%= nicer_quote(movie[3]) %></p>
      <span class="score"><%= link_to imdb_logo, movie[4] %><%= "#{movie[0]}% Watchable" %></span>
      <span class="trailer"><%= trailer_link(movie[1]) %></span>
    </div>
  </div>
  <% end %>
<% end %>
</div>

<script>
// Make entire block clickable w/URL of the first a element found
$(".info-area").click(function(){
  window.location=$(this).find("a").attr("href");
  return false;
});
// Preserve the trailer block and have it also be clickable
$(".trailer").click(function(){
  window.location=$(this).find("a").attr("href");
  return false;
});
</script>