<% content_for :head do %>
<title>Watchable - Movies worth watching. This week: <%= title_sentence %></title>
<meta name="description" content="Watchable - The best-reviewed movies. <%= title_review_list %>" />
<% end %>
<% content_for :slugline do %>
<%= slug_line %>
<% end %>
<% content_for :footer do %>
<h2 id="footer-link"><a href="/upcoming">See which films are coming soon</h2>
<% end %>

<% @list[0..0].each do |movie| %>
<div id="winner">
  <div class="info-area">
    <h1 id="winner-title"><%= link_to movie[2], movie[5] %></h1>
    <div id="winner-poster"><%= link_to image_tag(movie[3], alt: movie[2], size: "180x267"), movie[5] %></div>
    <div class="winner-description">
      <p><%= nicer_quote(movie[4]) %></p>
      <span class="score"><%= link_to imdb_logo, movie[5] %> <%= nicer_rating(movie[0],movie[1]) %>% Watchable</span>
      <span class="trailer"><%= link_to trailer_logo, movie[5]<<trailer_link %><%= link_to "Trailers",  movie[5] %></span>
    </div>
  </div>
</div>
<% end %>

<div id="runners-up">
<% @list[1..7].each do |movie| %>
  <% if nicer_rating(movie[0],movie[1]) > 65 %>
  <div class="info-area">
    <p id="runners-up-poster"><%= link_to image_tag(movie[3], alt: movie[2], size: "100x148"), movie[5] %></p>
    <h1><%= link_to movie[2], movie[5] %></h1>
    <div class="description">
      <p><%= nicer_quote(movie[4]) %></p>
      <span class="score"><%= link_to imdb_logo, movie[5] %><%= nicer_rating(movie[0],movie[1]) %>% Watchable</span>
      <span class="trailer"><%= link_to trailer_logo, movie[5]<<trailer_link %><%= link_to "Trailers",  movie[5] %></span>
    </div>
  </div>
  <% end %>
<% end %>
</div>