<!DOCTYPE html>
<html>
<!--

888       888          888            888               888      888
888   o   888          888            888               888      888
888  d8b  888          888            888               888      888
888 d888b 888  8888b.  888888 .d8888b 88888b.   8888b.  88888b.  888  .d88b.
888d88888b888     "88b 888   d88P"    888 "88b     "88b 888 "88b 888 d8P  Y8b
88888P Y88888 .d888888 888   888      888  888 .d888888 888  888 888 88888888
8888P   Y8888 888  888 Y88b. Y88b.    888  888 888  888 888 d88P 888 Y8b.
888P     Y888 "Y888888  "Y888 "Y8888P 888  888 "Y888888 88888P"  888  "Y8888

Made for you by Doug
-->
<head>
  <%= yield :head %>
  <link rel="canonical" href="http://watchable.heroku.com/" itemprop="url"/>
  <%= stylesheet_link_tag "application" %>
  <script type="text/javascript" src="http://use.typekit.com/gqd6bwq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta name="viewport" content="width=580" />
  <link rel="shortcut icon" href="/assets/favicon.ico" />
</head>
<body>
  <div id="header">
    <h1>Watchable</h1>
    <h2><%= yield :slugline %></h2>
  </div>
  <%= yield %>
  <div id="footer">
    <h3><a href="/upcoming">See what films are coming soon.</h3>
    <p><a href="http://dougstewart.org/">Made for you by Doug</a>. This website updates all the damn time.</p>
  </div>
  <%= render :partial => 'layouts/analytics' %>
</body>
</html>