<!DOCTYPE html>
<html>
<!--

888       888          888            888               888      888          
888   o   888          888            888               888      888          
888  d8b  888          888            888               888      888          
888 d888b 888  8888b.  888888 .d8888b 88888b.   8888b.  88888b.  888  .d88b.  
888d88888b888     "88b 888   d88P"    888 "88b     "88b 888 "88b 888 d8P  Y8b 
88888P Y88888 .d888888 888   888      888  888 .d888888 888  888 888 88888888 
8888P   Y8888 888  888 Y88b. Y88b.    888  888 888  888 888 d88P 888 Y8b.     
888P     Y888 "Y888888  "Y888 "Y8888P 888  888 "Y888888 88888P"  888  "Y8888

Made for you by Doug
-->

<head>
  <title>Watchable - Movies worth watching. This week: <%= @title_list_for_homepage %></title>
  <link rel="canonical" href="http://watchable.heroku.com/" itemprop="url"/>
  <meta name="description" content="Watchable - The best-reviewed movies. <%= @title+" review, "+@second_title+" review, "+@third_title+" review, "+@fourth_title+" review, "+@fifth_title+" review, "+@sixth_title+" review, "+@seventh_title+" review" %>" />
  <meta name="viewport" content="width=580" />
  <%= stylesheet_link_tag    "application" %>
  <script type="text/javascript" src="http://use.typekit.com/gqd6bwq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
</head>
<body>
  <script type="text/javascript">window.scrollTo(0, 1);</script>
  <div id="header">
    <h1>Watchable</h1>
    <h2>Movies worth watching, 
    <%= Date.today.strftime("%b")+" "+Date.today.strftime(Date.today.strftime('%d').to_i.ordinalize) %>.</h2>
  </div>
  
  <%= yield %>

  <div id="footer">
    <p><a href="http://dougstewart.org/">Made for you by Doug</a>. This website updates all the damn time.</p>
  </div>

  <script>
    var _gaq=[['_setAccount','UA-5771210-1'],['_trackPageview', 'Watchable.heroku.com']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
